.flex-container {
  display: 
    flex;
    background: green;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item{
  border-style: dotted;
  background: tomato;
  height:300px;
  width:300px;
  border-color: blue;
  color:white;

}

.title {
    color: red;
    background: #f4AAA4f4;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

.reviews{
    border-style: dotted dashed solid double;
    background: #f4f4f4;
    border-color: blue;
}