.flex-container {
  display: 
    flex;
    background: green;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item{
  background: tomato;
  height:100px;
  width:100px;

  color:white;
}

.title {
    color: red;
    background-color: #f4AAA4f4;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}