<!doctype html>
<html>
    <head>
        <meta name="google-site-verification" content="hj9MIPTBaWF-biRBn-hiX0vjwn06rr7k9tBSB0Sk7dk" />
        <meta charset="UTF-8">
        <title> Patient Prime: Make Informed Decisions Quickly</title>
            <link rel = "icon" href = "/static/title_icon_1.jpeg"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <link rel="stylesheet" href ="/static/stylesheet.css">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
        <!-- <div class="title">Patient Prime</div> -->

</head>
<body>

{% block content %}

{% endblock %}
<footer id="footer">Copyright (c) 2019 Beverly N. Ukandu</footer>
<!-- Flash messages to be used throughout the site  -->
<div id="extending">
  {% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
  {% endfor %}
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/user_dashboard.js"></script>
</body>