<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Patient Prime: Make Informed Decisions Quickly</title>
            <link rel = "icon" href = "/static/title_icon_1.jpeg"/>
        <link rel="stylesheet" href ="/static/stylesheet.css">
        <div class="title">Patient Prime</div>

<body>
{% block content %}

{% endblock %}

<!-- Flash messages to be used throughout the site  -->
<div id="extending">
  {% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
  {% endfor %}
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/user_dashboard.js"></script>
</body>