<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Patient Prime: Make Informed Decisions Quickly</title>
            <link rel = "icon" href = "/static/title_icon_1.jpeg"/>
        <link rel="stylesheet" href ="/static/stylesheet.css">
        <div class="title">Patient Prime</div>

<div id="root"></div>

<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="http://unpkg.com/babel-standalone"></script>

<script src="provider-display.jsx" type="text/jsx"></script>


{% block content %}

{% endblock %}

<!-- Flash messages to be used throughout the site  -->
<div id="extending">
  {% for flash in get_flashed_messages() %}
    <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
  {% endfor %}
</div>