<html>
    <head>
        <title> Patient Ready: Make Informed Decisions Quickly</title>
            <link rel = "icon" href = "/static/title_icon_1.jpeg"/>
        <div class="title"><h1>Patient Ready</h1>
        </div>


    </head>
        <body>Placeholder for homepage and search</body>

    <!-- Soon to be form with submit-->
    
        <form action="/search-provider">
            <div class="search-bar"></div>

            <input type="submit" name="submit">
        </form>
    
    <div class="sear"></div>
</html>
