{%extends 'base.html'%}

{% block content %}

    <!-- Soon to be form with submit-->
    <body>
   <h1> Login Page<br>
    Patient Prime In Progress :)
    </h1>

    <!-- <form action="/user-dashboard/username"> -->

        <form class="form-signin" method="POST">

        <h2 class="form-signin-heading">Please Sign In</h2>

        <div class="form-group">
            <label for="email-field" class="sr-only">Email Address</label>
            <input type="email"
                   name="email"
                   class="form-control input-lg"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
        </button>
        
        <input type="username" name="username">
        <input type="submit" name="submit" value="Login">
    </form>
    </body>
    </html>
        
{%endblock%}
