{%extends 'base.html'%}

{% block content %}
    Begin by typing a provider into the search box

    <!-- Soon to be form with submit-->
    <div class="search">
        <form action="/user-dashboard">
            <div class="search-bar"></div>
            <input type="search" name="first_name" placeholder="First Name"aria-label="Search database of doctorss">
            <input type="search" name="last_name" placeholder="Last Name"aria-label="Search database of doctors">
            <!-- button class="search-button">Search Providers</button> -->
            <div></div>
            <input type="submit" name="submit">
        </form>
    </div>
</html>
{%endblock%}
