{%extends 'base.html'%}
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/user_dashboard.js"></script>

{%block content%}

<body>
        <form id="reviews">
            <input type="search" name="first_name" id="doctor_first_name" placeholder="First Name"aria-label="Search database of providers">
            <input type="search" name="last_name" id="doctor_last_name" placeholder="Last Name"aria-label="Search database of providers">
            <button class="btn btn-primary" type="submit">Search Doctor</button>
<!--  <div class="form-group">
      <button class="btn btn-primary" type="submit">Search Doctor</button>
    </div> -->

</form>
<div id="search-doctor"></div>
<div id="search-doctor-display"></div>

</body>
            <!-- button class="search-button">Search Providers</button>
            <div></div>
            <input type="submit" name="submit">
        </form>
Load after root npi_id -->
<!-- <script src="/static/doctor-display.jsx" type="text/jsx"></script> -->

{%endblock%}