{%extends 'base.html'%}

{%block content%}

<!-- Nav Bar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand" href="#">Patient Prime Dashboard</a>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About/FAQ</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li> -->
        </ul>
        <!-- <form class="reviews"> -->
        <h2><a class="nav-item active" href="/logout">Log Out</a></h2>
        <!-- <button class="logout btn btn-primary" type="submit" href="/logout">Logout</button> -->
         <!--  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </div>
      </nav>

<h1>Welcome, {{fullname}}! </h1>
<body>
<!--  <div class="form-group">
      <button class="btn btn-primary" type="submit">Search Doctor</button></form>
    </div> -->

<!-- <div id="search-doctor"></div> -->



<div class="wrapper">
  <div class="reviews center"><h1>Doctor Info</h1><p><strong>Begin here by searching for a doctor</strong><br>
    <div>
    <form>
            <input type="search" name="first_name" class="doctor_first_name" placeholder="First Name"aria-label="Search database of providers">
            <input type="search" name="last_name" class="doctor_last_name" placeholder="Last Name"aria-label="Search database of providers">
            <button class="clean" type="submit">Search Doctor</button>
    </form>
    <div class="doctor-background-info">
            <!-- <div class="col-xs-12 divider text-center">
                <div class="col-xs-12">
                    <h2><strong> Favorite This Doctor </strong></h2>                    
                    <button class="button-favorite-current-doctor btn btn-success btn-block"><span class="fa fa-plus-circle"></span>Favorite This Doctor!</button>
                </div>
                <div class="col-xs-12 emphasis">
                    <h2><strong>Text This Doctor to a Friend</strong></h2>                    
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Share (Messaging & Data Rates Apply) </button>
                <div class="col-xs-12 emphasis">
                    
                  </div>
                <p>
                </div>
                </div> -->
  </div>
</div>

  <div class="two center"><h1>Associated Hospitals</h1>
    <!-- <div id="doctor-associated-hospital-info"></div> -->
    <!-- <button id="testchartbutton">Test Button Until Hospital Buttons Work</button> -->
      <canvas id="myChart" width="300" height="150"></canvas>
      <!-- <canvas id="newChart" width="400" height="400"></canvas> -->
      <!-- <script class="hospital_1"></script> -->

      <!-- <div class="two_half"> Two half</div> -->
     <!--  <script>
  var ctx = document.getElementById('myChart');
  var myChart = new Chart(ctx, {
      "type":"bubble",
      "data":{
          "datasets":[{
              "label":"First Dataset",
              "data":[
                  ],
              "backgroundColor":"rgb(255, 99, 132)"
            }]}});
</script>
 -->

</div>
  <div class="three center"><h1>Favorite Doctors</h1>

    <div class="col-xs-12">
                    <!-- <h2><strong> Favorite This Doctor </strong></h2>  -->                   
                    <button class="button-favorite-current-doctor btn btn-success btn-block"><span class="fa fa-plus-circle"></span>Favorite The Doctor Above!</button>
                </div>
  
    <div class="user-favorite-doctors-list">
    {%for doctor in favorites%}
      <ul>
      <li>{{doctor}}</li>
    </ul>
    {%endfor%}
      </div>
  </div>

  <!-- <div class="four">Four</div> -->
  <div class="five center"><h1>Reviews</h1><div class="doctor-reviews-info"></div></div>
  <div class="six center"><h1>Background on Associated Hospital Measures</h1></div>



</div>

</body>
           
<!-- Load after root npi_id
<div id='root'></div> -->



<!-- <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="http://unpkg.com/babel-standalone"></script>
 -->
<!-- Load after root npi_id -->
<!-- <script src="/static/doctor-display.jsx" type="text/jsx"></script> -->
{%endblock%}